<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-firebase-plugin" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova Firebase Plugin</name>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.2.0" />
    </engines>

    <platform name="ios">
        <hook type="after_plugin_install" src="scripts/ios/post_plugin_add.js" />
        <hook type="after_platform_add" src="scripts/ios/post_plugin_add.js" />
        <hook type="before_plugin_uninstall" src="scripts/ios/pre_plugin_remove.js" />
        <js-module name="CordovaFirebasePlugin" src="www/CordovaFirebasePlugin.js">
            <clobbers target="CordovaFirebasePlugin" />
        </js-module>
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaFirebasePlugin">
                <param name="ios-package" value="CordovaFirebasePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
            <string>development</string>
        </config-file>
        <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
            <string>production</string>
        </config-file>
        <resource-file src="src/ios/GoogleService-Info.plist" />
        <header-file src="src/ios/AppDelegate+CordovaFirebasePlugin.h" />
        <source-file src="src/ios/AppDelegate+CordovaFirebasePlugin.m" />
        <header-file src="src/ios/CordovaFirebasePlugin.h" />
        <source-file src="src/ios/CordovaFirebasePlugin.m" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Fabric"/>
                <pod name="Crashlytics" />
                <pod name="FirebaseCore" />
            </pods>
        </podspec>

    </platform>
    <hook type="after_prepare" src="scripts/post_prepare.js" />
</plugin>